@font-face {
    font-family: "bodytext";
    src: url(fonts/fjallaone-regular-webfont.woff2) format("woff2"),
         url(fonts/fjallaone-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "cooltext";
    src: url(fonts/offbittrial-dotbold-webfont.woff2) format("woff2"),
         url(fonts/offbittrial-dotbold-webfont.woff) format("woff");
}

html,body {
    height: 100%;
}

body {
    margin-top: -1px;
    margin-left: -10px;
    margin-right: -10px;  
    display: flex;
}

.left {
    width: 35%;
    height: 100%;
    position: relative;
}

#side {
    width:100%;
    height:100%;
    object-fit: cover;
}

.banner {
    color: white;
    position: absolute; 
    top:17%;
    width: 100%;
    padding:10px 0px;
    background-color: rgba(0,0,0,0.4);
}

.logotext {
    padding-top: 10px;
    padding-left: 7px;
}

.wrapper {
    font-size: 50px;
    font-family: "cooltext",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50px;
}

.right {
    max-width: 65%;
    font-family: "Lato",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(21, 21, 21);
    color: white;
}

.header2 {
    margin-top: 20px;
}

.formArea {
    padding: 20px 40px;
    margin-top: 100px;
    box-shadow: 0 3px 10px rgb(68, 68, 68);
}

.top {
    margin: 0px 40px;
    margin-right: 250px;
    font-size: 18px;
    padding-right: 50px;
}
.row {
    display: flex;
    gap:30px;
    margin:20px 0px;
}

input {
    color: white;
    border: 1px solid #383838;
    width: 400px;
    background-color: rgb(21, 21, 21);
    border-radius: 3px;
}

input:focus {
    border: 1px solid #aa3b1a;
    outline: none;
    color: white;
}

label {
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
}

button {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: "Lato";
    font-weight: bold;
    border: 2px solid #d35e3a;
    background-color: rgb(21, 21, 21);
    color: #d35e3a;
    border-radius: 5spx;
    padding: 5px 20px
}

button:hover {
    background-color: #d35e3a;
    color: white;
    cursor: pointer;
}

.last {
    margin-left: 40px;
    font-size: 20px
}

a {
    color: #d35e3a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f1d8d1;
    cursor: pointer;
}
